<launch>
	<arg name="rviz" default="true" />
	
	<arg name="base_global_planner" default="navfn/NavfnROS"/>
	<arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

	    <param name="base_global_planner" value="$(arg base_global_planner)"/>
	    <param name="base_local_planner" value="$(arg base_local_planner)"/>
	    <rosparam file="$(find rover_21_navigation)/config/planner.yaml" command="load"/>

	</node>
</launch>
