<launch>
  <arg name="prefix" default="" />
  <arg name="no_static_map" default="true"/>
  <arg name="base_global_planner" default="dlux_global_planner/DluxGlobalPlanner"/>
  <arg name="base_local_planner" default="dwb_local_planner/DWBLocalPlanner"/>

  <node name="locomotor" pkg="locomotor" type="locomotor1" output="screen" launch-prefix="$(arg prefix)">

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <rosparam file="$(find locomotor)/config/planner.yaml" command="load"/>


    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find locomotor)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find locomotor)/config/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(find locomotor)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find locomotor)/config/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>

    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find locomotor)/config/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
    <param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
    <param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>

  </node>
</launch>

